[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
mtcnn = "*"
pillow = "*"
tensorflow = "*"
mtcnn-tflite = "*"
dvc = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
flask = "*"
tflite-runtime = "*"

[dev-packages]

[requires]
python_version = "3.8"
