[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
tflite-runtime = "*"
gunicorn = "*"
opencv-python-headless = "*"

[dev-packages]
scikit-learn = "*"
pandas = "*"
pillow = "*"
mtcnn = "*"
dvc = "*"
matplotlib = "*"
tensorflow = "*"
opencv-python = "*"

[requires]
python_version = "3.8"
